.link {
    text-decoration: none;
    color: #2a363b;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
}
.link:hover {
    color: rgb(29 189 135);
}
.isActive {
    color: rgb(29 189 135);
}

.navAuth {
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
