.homePageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePageText {
    color: rgb(29 189 135);
    animation: fadeIn 1s ease-in-out;
}

.image {
    margin-top: 60px;
}
